[Desktop Entry]
Encoding=UTF-8
Name=Lien vers TP5.html
Type=Link
URL=http://moodle.univ-tlse3.fr/pluginfile.php/101126/mod_folder/content/0/TP5.html?forcedownload=1
Icon=text-html
